---
- name: Set timezone to US Pacific
  community.general.timezone:
    name: America/Los_Angeles

- name: Set system hostname from survey variable
  ansible.builtin.hostname:
    name: "{{ target_hostname }}"
  when: target_hostname is defined and target_hostname | length >= 0

- name: Add Docker GPG key
  ansible.builtin.rpm_key:
    key: https://download.docker.com/linux/fedora/gpg
    state: present

- name: Add Docker repository
  ansible.builtin.yum_repository:
    name: docker-ce-stable
    description: Docker CE Stable - $basearch
    baseurl: "https://download.docker.com/linux/fedora/{{ ansible_distribution_major_version }}/$basearch/stable"
    gpgkey: https://download.docker.com/linux/fedora/gpg
    gpgcheck: yes
    enabled: yes

- name: Install Docker packages
  ansible.builtin.dnf:
    name:
      - qemu-guest-agent
      - chrony
      - ca-certificates
      - curl
      - gnupg2
      - dnf-plugins-core
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
      - docker-buildx-plugin
    state: latest
    update_cache: true

- name: Ensure Docker service is started and enabled
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Add user to docker group (optional)
  ansible.builtin.user:
    name: "{{ target_user }}"
    groups: docker
    append: true

- name: Copy drop-in Chrony sources file
  ansible.builtin.copy:
    src: roles/templates/uac-ntp.sources
    dest: /etc/chrony.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart Chrony service

- name: Update sshd configuration safely, avoid locking yourself out
  ansible.builtin.template:
    src: roles/templates/sshd_config
    dest: /etc/ssh/sshd_config.d/99-uac-sshd.conf
    owner: root
    group: root
    mode: "0600"
    validate: /usr/sbin/sshd -t -f %s
    backup: true
  notify: Restart_sshd

- name: Update sshd configuration safely, avoid locking yourself out
  ansible.builtin.template:
    src: roles/templates/99-sudoers
    dest: /etc/sudoers.d/99-sudoers
    owner: root
    group: root
    mode: "0600"
    validate: visudo -cf %s
    backup: true

- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "/home/{{ target_user }}/.ssh"
    state: directory
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0700'

- name: Debug SSH keys variable
  ansible.builtin.debug:
    msg: |
      ssh_key type: {{ ssh_key | type_debug }}
      ssh_key value: {{ ssh_key }}
  when: ssh_key is defined

- name: Add authorized SSH keys
  ansible.builtin.authorized_key:
    user: "{{ target_user }}"
    key: "{{ ssh_key }}"
    state: present
  when: ssh_key is defined and ssh_key | length > 0

- name: Update user password
  ansible.builtin.user:
    name: "{{ target_user }}"
    password: "{{ target_pass }}"

- name: Check for `needs-restarting` (dnf/yum) indicating a reboot is required
  ansible.builtin.command:
    cmd: needs-restarting -r
  register: needs_restarting_result
  failed_when: false
  changed_when: false
  ignore_errors: true

- name: Set fact if reboot is required
  ansible.builtin.set_fact:
    reboot_required: "{{ (reboot_required_file.stat.exists | default(false)) or (needs_restarting_result.rc is defined and needs_restarting_result.rc == 1) }}"

- name: Reboot the box when required
  ansible.builtin.reboot:
    msg: "Reboot initiated by Ansible because a reboot is required"
    connect_timeout: 5
    reboot_timeout: 300
    post_reboot_delay: 30
    test_command: uptime
  when: reboot_required | default(false)
